@font-face { font-family: Amazon-Ember; src:  url('./assets/fonts/Amazon\ Ember.ttf'); } 
@font-face { font-family: Amazon-Ember-Light; src:  url('./assets/fonts/Amazon\ Ember\ Light.ttf'); } 
@font-face { font-family: Amazon-Ember-Bold; src:  url('./assets/fonts/Amazon\ Ember\ Bold.ttf'); } 