@font-face { font-family: AmazonEmber; src:  url('./assets/fonts/Amazon\ Ember.ttf'); } 
@font-face { font-family: AmazonEmber-Light; src:  url('./assets/fonts/Amazon\ Ember\ Light.ttf'); } 
@font-face { font-family: AmazonEmber-Bold; src:  url('./assets/fonts/Amazon\ Ember\ Bold.ttf'); } 